<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body>
<!--todo: remove user tag-->
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <div class="error">
        <h1 th:text="${message}">Token was invalid!</h1>
        <a th:if="${expired == true and expired != null}" th:href="@{/resendRegistrationToken(token=${token})}">Resend Verification Link!</a>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>