<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head th:replace="layout :: head"></head>

<body class="light-blue">
<!-- Start Page Loading -->
<!--<div id="loader-wrapper">-->
    <!--<div id="loader"></div>-->
    <!--<div class="loader-section section-left"></div>-->
    <!--<div class="loader-section section-right"></div>-->
<!--</div>-->
<!-- End Page Loading -->


<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" th:action="@{/login}" th:object="${user}" method="post">
            <div class="row">
                <div class="input-field col s12 center">
                    <img th:src="@{/assets/images/login-logo.png}" alt=""
                         class="circle responsive-img valign profile-image-login"/>
                    <p class="center login-form-text">Material Design Admin Template</p>
                </div>
            </div>

            <div th:replace="layout :: flash"></div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input th:field="*{username}" id="username" type="text"/>
                    <label for="username" class="center-align">Username</label>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" th:field="*{password}"/>
                    <label for="password">Password</label>
                </div>
            </div>

            <!--<div class="row">          todo: use-->
            <!--<div class="input-field col s12 m12 l12  login-text">-->
            <!--<input type="checkbox" id="remember-me" />-->
            <!--<label for="remember-me">Remember me</label>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a th:href="@{/register}">Register Now!</a></p>
                </div>
                <!--<div class="input-field col s6 m6 l6"> todo: use!-->
                    <!--<p class="margin right-align medium-small"><a th:href="@{/forgotPassword}">Forgot password?</a></p>-->
                <!--</div>-->
            </div>

        </form>
    </div>
</div>

<div th:replace="layout :: scripts"></div>

</body>

</html>