<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head th:replace="layout :: head"></head>

<body class="light-blue">
<!-- Start Page Loading -->
<!--<div id="loader-wrapper">-->
    <!--<div id="loader"></div>-->
    <!--<div class="loader-section section-left"></div>-->
    <!--<div class="loader-section section-right"></div>-->
<!--</div>-->
<!-- End Page Loading -->


<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" th:action="@{/register}" th:object="${user}" method="post">
            <div class="row">
                <div class="input-field col s12 center">
                    <h4>Register</h4>
                    <p class="center">Join Smart Todo now!</p>
                </div>
            </div>

            <div th:replace="layout :: flash"></div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" type="text" th:field="*{username}"/>
                    <label for="username" class="center-align">Username</label>
                </div>
            </div>

            <div id="card-alert" class="card red" th:if="${#fields.hasErrors('username')}">
                <div class="card-content white-text">
                    <p th:errors="*{username}">ERROR : Something went wrong</p>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <input id="email" type="email" th:field="*{email}"/>
                    <label for="email" class="center-align">Email</label>
                </div>
            </div>

            <div id="card-alert" class="card red" th:if="${#fields.hasErrors('email')}">
                <div class="card-content white-text">
                    <p th:errors="*{email}">ERROR : Something went wrong</p>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" th:field="*{password}"/>
                    <label for="password">Password</label>
                </div>
            </div>

            <div id="card-alert" class="card red" th:if="${#fields.hasErrors('password')}">
                <div class="card-content white-text">
                    <p th:errors="*{password}">ERROR : Something went wrong</p>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password-again" type="password" th:field="*{matchingPassword}"/>
                    <label for="password-again">Password again</label>
                </div>
            </div>

            <div id="card-alert" class="card red" th:if="${#fields.hasErrors('global')}">
                <div class="card-content white-text">
                    <p th:errors="*{global}">ERROR : Something went wrong</p>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Register Now</button>
                </div>
                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Already have an account? <a th:href="@{/login}">Login</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="layout :: scripts"></div>

</body>

</html>