<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="container">
    <!-- todo: add better todo layout: http://materializecss.com/badges.html#! -->
    <ul>
        <li th:each="task : ${tasks}">
            <!--todo: remove td padding and .col .row padding-->
            <table cellpadding="0" cellspacing="0" class="">
                <tbody>
                    <tr class="inline todo-item row">
                        <td class="col s1 no-padding">
                            <form method="post" th:action="@{mark}">
                                <input type="hidden" name="id" th:value="${task.id}"/>
                                <!--todo: change to combobox, looks cooler -->
                                <input type="checkbox" th:id="|checked_${task.id}|" th:checked="${task.complete}"
                                       onclick="this.form.submit()"/>
                            </form>
                        </td>
                        <td class="col s11 row no-padding">
                            <form method="post" th:action="@{/update}" class="inline todo-item row">
                                <input type="hidden" name="id" th:value="${task.id}"/>
                                <span class="description-text col s9" th:for="|checked_${task.id}|" th:text="${task.description}"></span><!--th:for="|checked_${task.id}|"-->
                                <input class="description-value" type="hidden" name="description" th:value="${task.description}" />

                                <span class="eventText-text col s2" th:text="${task.event.getFormattedEvent()}"></span>
                                <input class="eventText-value" type="hidden" name="eventText" th:value="${task.event.getFormattedEvent()}"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--todo: add break like <hr/> -->
        </li>
        <li>
            <form method="post" th:object="${newTask}" th:action="@{/tasks}" class="inline new-item row">
                <input class="col s10" type="text" th:field="*{description}" placeholder="New task" autocomplete="off"/>
                <!--Todo: add date widget-->
                <input class="col s2" type="text" th:field="*{eventText}" autocomplete="off" placeholder="Date"/>
            </form>
        </li>
    </ul>
</div>
<div th:replace="layout :: scripts"></div>
<script type="text/javascript" th:src="@{/assets/js/jquery.editable.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
</body>
</html>